@font-face {
  font-family: mona;
  src: url(fonts/Mona-Sans-LightWide.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}

.page1 {
  width: 100%;
}
.page1 .nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  font-size: 2px;
}
.nav-img2 {
  display: none;
  margin-right: 20px;
}
.nav img {
  max-width: 100px;
  height: auto;
}
.nav i{
  display: none;
}
.nav span {
  display: none;
}
.nav-part1 {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-part1 h4 {
  font-size: 14px;
  font-weight: 600;
  font-family: mona;
  letter-spacing: 1px;
}
@media (max-width: 1400px) {
  .nav-part1 h4 {
    font-size: 12px;
  }
}
.nav-part2 {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
.nav-part2 button {
  padding: 10px 18px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.nav-part2 button:last-child {
  background-color: black;
  color: white;
}
.nav-part2 button:last-child:hover {
  background-color: rgba(0, 0, 0, 0.649);
  transition: background-color 0.2s, color;
}

.content {
  padding: 85px 0;

  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 200px 50px 80px;
}
.content h3 {
  font-size: 16px;
  background-color: #ffb1da;
  padding: 5px;
  height: fit-content;
  width: fit-content;
  border-radius: 50px;
  padding: 12px;
  grid-column: 2/4;
  grid-row: 1/2;
  justify-self: center;
  font-weight: 600;
}
.content h1 {
  grid-column: 1/5;
  grid-row: 2/3;
  text-align: center;
  font-size: 70px;
  font-family: serif;
  justify-self: center;
  align-self: end;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}
.content h4 {
  grid-column: 1/5;
  grid-row: 3/4;
  text-align: center;
  align-self: end;
  font-size: 18px;
  font-weight: 600;
  font-family: mona;
  letter-spacing: 1px;
}
.content button {
  grid-column: 2/4;
  grid-row: 4/5;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  border-radius: 50px;
  align-self: end;
  justify-self: center;
  border: none;
  background-color: black;
  color: white;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.content button:hover {
  background-color: rgba(0, 0, 0, 0.649);
}
.scroll {
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}
.contain {
  display: inline-block;
  animation: ani 50s infinite linear;
  font-size: 0;
}
.element {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  margin-right: 20px;
}
.scroll img {
  width: 270px;
  height: 320px;
  display: inline-block;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}
.scroll video {
  width: 270px;
  height: 320px;
  display: inline-block;

  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.element .text-bottom {
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 15px;
  color: white;
  padding: 20px;
}
.text-bottom h4 {
  margin-top: 5px;
}
.text-c {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}
.text-c h5 {
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.402);
  border-radius: 20px;
  padding: 5px 10px;
}
@keyframes ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
  }
}
.page2 {
  width: 100%;

  position: relative;
  padding: 80px 0px;
}
.page2 h1 {
  text-align: center;
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 40px;
}
.box {
  max-height: 401px;
  max-width: 544px;

  border-radius: 10px;

  display: inline-block;
  margin: 15px;
  position: relative;
  margin-bottom: 15%;
}
.box-bottom {
  width: 100%;
  height: 30%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.701));
  position: absolute;
  bottom: 0%;
  transition: 0.3s opacity ease;
  display: flex;
  color: white;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  border-radius: 10px;
}
.size {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  justify-content: center;
  justify-items: center;
}
@media (max-width: 1400px) {
  .size {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .box-last {
    display: none;
  }
}
@media (max-width: 1090px) {
  .size {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .size {
    grid-template-columns: 1fr;
  }
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.box-bottom h4 {
  width: 65%;
}
.box-bottom i {
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 8px;
  font-size: 18px;
  font-weight: 400;
}

.box:hover .box-bottom {
  opacity: 1;
}

.box-info {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: -20%;

  display: flex;
  justify-content: space-between;

  padding: 15px;
}
.box-info h4 {
  width: 65%;
  font-size: 16px;
}
.box-info h4 span {
  background-color: rgba(0, 0, 0, 0.221);
  border-radius: 5px;
  padding: 3px 10px;
  margin-left: 5px;
  color: white;
}
h4 span:hover {
  background-color: rgba(0, 0, 0, 0.703);
}
.browse {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.browse h4 {
  padding: 20px;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: 600;
  transition: 0.4s ease;
}
.browse h4:hover {
  color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.5);
}

/* page 2 end */

.page3 {
  width: 100%;
  height: 600px;
  background-color: #ffda79;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 30px;
}
.page3 h4 {
  font-size: 25px;
  font-weight: 200;
}
.page3 h2 {
  font-size: 75px;
  font-family: serif;
  font-weight: 400;
}
.button {
  display: flex;
  border: none;
  gap: 20px;
}
.button button {
  padding: 20px 30px;
  border: none;
  border-radius: 25px;
  font-weight: 600;
}
.button button:first-child {
  background-color: black;
  color: white;
}

.button button:last-child {
  background-color: white;
}
.page3 h3 {
  font-weight: 400;
  font-size: 25px;
  margin-top: 10px;
}
.buttona {
  width: 100%;
  display: grid;
  place-items: center;
}
.buttona button {
  border: none;
  padding: 12px 20px;
  background-color: black;
  color: white;
  border-radius: 25px;
  margin-bottom: 80px;
  font-weight: 600;
  letter-spacing: 1px;
}
/* footer */

.footer {
  width: 100%;
  margin-top: 50px;

  overflow: hidden;
}
.animation {
  width: 100%;

  white-space: nowrap;
  display: inline-block;
}
.boxa {
  width: 2191px;
  display: inline-block;
  white-space: nowrap;
  animation: ani-mation 18s linear infinite;
  margin-bottom: 100px;
}
.part {
  width: 270px;
  height: 180px;
  background-color: brown;
  display: inline-block;
  position: relative;
  border-radius: 10px;
}
.part .bottom-text {
  padding: 20px 5px;
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: -35%;
  color: rgba(0, 0, 0, 0.615);
}
.part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
@keyframes ani-mation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.footer-down {
  margin-top: 50px;
  width: 100%;
  width: 65%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-down img {
  width: 110px;
  object-fit: contain;
}
.footer-down ul li {
  list-style: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.8px;
  font-family: mona;
}
.footer-text ul {
  display: flex;
  gap: 13px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.f-icon i {
  margin-right: 10px;
  font-size: 18px;
}

@media (max-width: 1500px) {
  .footer-down {
    width: 70%;
  }
}
@media (max-width: 1350px) {
  .footer-down {
    width: 80%;
  }
}
@media (max-width: 1230px) {
  .footer-down {
    flex-direction: column;
    gap: 15px;
  }
}

.f-extra {
  margin-top: 50px;
}

.f-extra ul {
  font-size: 15px;
  margin: auto;
  list-style-type: none;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 7px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.558);
  padding-bottom: 30px;
}
@media (max-width: 1090px) {
  .box-second-last {
    display: none;
  }
}
@media (max-width: 1300px) {
  .nav span {
    display: inline;
  }
  .nav-img1 {
    display: none;
  }
  .nav-img2 {
    display: inline-block;
  }
  .nav-part1 {
    width: 60%;
    justify-content: flex-start;
    gap: 15px;
  }
}

@media (max-width: 900px) {
  .nav-part1 {
    display: none;
  }
  .nav span{
    display: inline;
  }
  .page1 .nav{
    justify-content: space-between;
  }
  .nav i{
   
      display: inline-block;
      font-family: 'RemixIcons';
      font-size: 35px;
      content: '\e90d';
      margin-right: 15px;
    
    
  }
}
@media (max-width: 820px) {
  .nav-part2 {
    width: 50%;
  }
  .nav-part2 button {
    font-size: 13px;
  }
  .content {
    padding: 85px 10px;
    grid-template-rows: 40px 120px 50px 80px;
  }
  .content h1 {
    font-size: 40px;
  }
  .page3 h4 {
    font-size: 3vw;
  }
}
@media (max-width: 675px) {
  .content h3 {
    grid-column: 1/5;
  }
  .size {
    grid-template-columns: 1fr;
  }
  .scroll img {
    width: 200px;
    height: 270px;
  }
  .scroll video {
    width: 200px;
    height: 270px;
  }
  .element .text-bottom {
    height: 45%;
  }
}
@media (max-width: 490px) {
  .content {
    grid-template-rows: 40px 80px 50px 80px;
  }
  .nav-part2 button:first-child{
    display: none;
  }
  .nav img {
    width: 100px;
  }
  .nav-part2 button:first-child{
    display: none;
  }
  .nav-part2 {
    width: 30%;
  }
  .content h1 {
    font-size: 27px;
  }
  .content h4 {
    font-size: 14px;
  }
  .content h3 {
    font-size: 13px;
  }
  .page3 h4 {
    font-size: 3vw;
  }
  .page3 h2 {
    font-size: 50px;
  }
  .page3 h3 {
    font-size: 18px;
  }
  .button button {
    padding: 14px 20px;
  }
}
@media (max-width: 370px) {
  .page1 .nav {
    padding: 0 10px;
  }
  .nav img {
    width: 80px;
    margin-left: 10px;
  }
  .content {
    grid-template-rows: 40px 70px 50px 80px;
  }
  .content h1 {
    font-size: 22px;
  }
  .nav-part2 button {
    font-size: 12px;
  }
  .content button {
    grid-column: 1/5;
  }
  .page3 h2 {
    font-size: 40px;
  }
  .button {
    flex-direction: column;
    gap: 10px;
  }
  .button button {
    padding: 10px 18px;
  }
  .box-info h4 {
    font-size: 13px;
  }
}
